<h2>Room <%= @room.name %> </h2>
<input type="hidden" id="room-name" value="<%= @room.name %>" />

<form method="post" id="join-room-form">
  <input id="player-name" />
  <input type="submit" value"Join" />
</form>

<div class="game" style="display:none">
  <h1>Players</h1>

  <ul class="players">
  </ul>

  <button class="button1">
    click me
  </button>

  <ul class="moves_container">
  </ul>
</div>
