<div id="rooms">
  <h2>Room <%= @room.name %> </h2>
  <input type="hidden" id="room-name" value="<%= @room.name %>" />

  <div class="button1">
    click me
  </div>

  <div class="moves_container">
  </div>
</div>
